$max-width: 1140px;

$clr-border: #dee2e6;
$clr-yellow: #ffd400;
$clr-blue: #22cbff;

$breakpoint-xxs: 320px;
$breakpoint-xs: 600px;
$breakpoint-s: 768px;
$breakpoint-m: 992px;

$text-regular: 400;
$text-medium: 500;
$text-bold: 700;
